{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/main_page/top_slider.css') }}" rel="stylesheet"/>

    <link href="{{ asset('assets/css/auto-complete.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/mainPage.js') }}"></script>
    <script src="{{ asset('assets/js/city_general_mark_selector.js') }}"></script>
    <script src="{{ asset('assets/js/sliderSettings.js') }}"></script>
    <script src="{{ asset('assets/html5_banner/createjs-2015.11.26.min.js') }}"></script>
    <script src="{{ asset('assets/html5_banner/body.js') }}"></script>
    <script src="{{ asset('assets/html5_banner/init.js') }}"></script>
    <script src="{{ asset('assets/js/mark_autocomplete.js') }}"></script>


{% endblock %}

{% block metaTags %}
    {{ parent() }}
    {% if custom_seo and custom_seo.description != ''%}
        <meta name="description" content="{% include(template_from_string(custom_seo.description)) %}">
    {% endif %}
{% endblock %}

{% block title %}{% if custom_seo and custom_seo.title != ''%}{% include(template_from_string(custom_seo.title)) %}{% else %}Мультипрокат{% endif %}{% endblock %}

{% block bodyVars %}onload="html5_init();"{% endblock %}
{% block bodyClass %}main_page{% endblock %}

{% block content %}

<div class="top_categories uk-position-relative">

    <div class="bg_blue cat_color_box"></div>

    <h2>{% trans %}Категории{% endtrans %}</h2>

    <div class="standard_wide top_categories_content">

        <div uk-grid class="uk-grid-small uk-margin-large-bottom">
            <div class="uk-width-1-4@s">
                <a href="/rent/{{ in_city }}/all/cars" class="cat_main_header c_white uk-display-block">{% trans %}Легковые автомобили{% endtrans %}</a>
                <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-items="1" data-dots="0">
                    {% for card in cars %}
                        {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'130px'}) }}
                    {% endfor %}
                    {#{{ include('search/all_more.html.twig', {'title':'Все легковые автомобили', 'url':'/rent/'~in_city~'/all/cars'}) }}#}
                </div>
            </div>
            <div class="uk-width-1-4@s">
                <a href="/rent/{{ in_city }}/all/wedding" class="cat_main_header c_white uk-display-block">{% trans %}Свадебные авто{% endtrans %}</a>
                <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-items="1" data-dots="0">
                    {% for card in wedding %}
                        {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'130px'}) }}
                    {% endfor %}
                    {#{{ include('search/all_more.html.twig', {'title':'Все свадебные авто', 'url':'/rent/'~in_city~'/all/bikes'}) }}#}
                </div>
            </div>
            <div class="uk-width-1-4@s">
                <a href="/rent/{{ in_city }}/all/helicopters" class="cat_main_header c_white uk-display-block">{% trans %}Вертолеты{% endtrans %}</a>
                <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-items="1" data-dots="0">
                    {% for card in heli %}
                        {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'130px'}) }}
                    {% endfor %}
                    {#{{ include('search/all_more.html.twig', {'title':'Все вертолеты', 'url':'/rent/'~in_city~'/all/trucks'}) }}#}
                </div>
            </div>
            <div class="uk-width-1-4@s">
                <a href="/rent/{{ in_city }}/all/snowride" class="cat_main_header c_white uk-display-block">{% trans %}Снегоходы{% endtrans %}</a>
                <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-items="1" data-dots="0">
                    {% for card in snow %}
                        {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'130px'}) }}
                    {% endfor %}
                    {#{{ include('search/all_more.html.twig', {'title':'Все снегоходы', 'url':'/rent/'~in_city~'/all/bikes'}) }}#}
                </div>
            </div>
        </div>

    </div>

    <div uk-toggle="target: #all_gt" class="uk-text-center c_blue undln uk-margin-bottom">{% trans %}Все категории{% endtrans %}</div>

    <div class="standard_wide">
        <div id="all_gt" class="uk-position-relative uk-padding-top" hidden>
            <div  uk-grid class="uk-flex uk-flex-center uk-padding-large-top uk-margin-bottom uk-grid-medium">

                {% for gt in generalTypes if gt.carTypeIds %}
                    <div>
                        <a href="/rent/{{ in_city }}/all/{{ gt.url }}" class="all_gt_main_link">{{ lang == 'ru' ? gt.header : gt.url }}</a>
                    </div>
                {% endfor %}


            </div>
            <div uk-close uk-toggle="target: #all_gt" class="uk-position-top-right"></div>
        </div>

    </div>



</div>




<div class="top_slider_block">
    <div class="standard_wide uk-position-relative">
        <div class="uk-text-center tx_24 uk-margin-bottom">{% trans %}Лучшие предложения{% endtrans %}</div>
        <div class="owl-carousel owl-carousel-all owl-theme uk-width-1-1" data-items="4" data-dots="0">
            {% for card in topSlider %}
                {{ include('search/one_grid_view.html.twig', {'card':card, 'height':'130px'}) }}
            {% endfor %}
        </div>
        <div class="uk-text-center">
            {% if app.session.has('logged_user') %}
                <a href="/card/new" class="" title="Хотите сюда?<br>Разместите объявление!" uk-tooltip>{% trans %}Разместить объявление в ТОП{% endtrans %}</a>
            {% else %}
                <a class="" title="Хотите сюда?<br>Разместите объявление!" uk-tooltip uk-toggle="target: #sign_in_or_up">{% trans %}Разместить объявление в ТОП{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
</div>







    {#{% if not is_mobile() %}#}
    {#<div class="top_counter bg_white c_grey uk-margin-large-bottom">#}
        {#<div class="standard_wide">#}
            {#<div uk-grid class="{% if is_mobile() %}{% else %}uk-grid-divider{% endif %}">#}
                {#<div class="uk-width-1-4">#}
                    {#<div class="uk-text-center">#}
                        {#<i class="fa fa-file"></i><br>#}
                        {#<span class="top_counter_desc">{% trans %}Объявлений{% endtrans %}</span><br>#}
                        {#<b>{{ total.cards }}</b>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="uk-width-1-4">#}
                    {#<div class="uk-text-center">#}
                        {#<i class="fa fa-eye"></i><br>#}
                        {#<span class="top_counter_desc">{% trans %}Просмотров объявлений{% endtrans %}</span><br>#}
                        {#<b>{{ total.views }}</b>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="uk-width-1-4">#}
                    {#<div class="uk-text-center">#}
                        {#<i class="fa fa-home"></i><br>#}
                        {#<span class="top_counter_desc">{% trans %}Городов{% endtrans %}</span><br>#}
                        {#<b>{{ total.cities }}</b>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="uk-width-1-4">#}
                    {#<div class="uk-text-center">#}
                        {#<i class="fa fa-list"></i><br>#}
                        {#<span class="top_counter_desc">{% trans %}Категорий{% endtrans %}</span><br>#}
                        {#<b>{{ total.categories }}</b>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#{% endif %}#}



    {#{% if is_mobile() %}#}
        {#<div class="top_counter bg_white c_grey uk-margin-large-bottom">#}
            {#<div class="standard_wide">#}
                {#<div uk-grid class="{% if is_mobile() %}{% else %}uk-grid-divider{% endif %}">#}
                    {#<div class="uk-width-1-1 uk-width-1-4@s">#}
                        {#<div class="uk-text-center">#}
                            {#<i class="fa fa-eye"></i><br>#}
                            {#<span class="top_counter_desc">Просмотров объявлений</span><br>#}
                            {#<b>{{ total.views }}</b>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="uk-width-1-3 uk-width-1-4@s">#}
                        {#<div class="uk-text-center">#}
                            {#<i class="fa fa-file"></i><br>#}
                            {#<span class="top_counter_desc">Объявлений</span><br>#}
                            {#<b>{{ total.cards }}</b>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="uk-width-1-3 uk-width-1-4@s">#}
                        {#<div class="uk-text-center">#}
                            {#<i class="fa fa-home"></i><br>#}
                            {#<span class="top_counter_desc">Городов</span><br>#}
                            {#<b>{{ total.cities }}</b>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="uk-width-1-3 uk-width-1-4@s">#}
                        {#<div class="uk-text-center">#}
                            {#<i class="fa fa-list"></i><br>#}
                            {#<span class="top_counter_desc">Категорий</span><br>#}
                            {#<b>{{ total.categories }}</b>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#{% endif %}#}


    <div style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), url('/assets/images/interface/main_bottom_bg.jpg') center center; background-size: cover;min-height: 100px;padding: 70px 0;">
        <h2 class="uk-text-center c_white">{% trans %}Сдать транспорт{% endtrans %}</h2>

        <div class="uk-text-center uk-margin-large-top">
            <a href="/card/new" class="uk-button uk-button-primary">{% trans %}Сдать{% endtrans %}</a>
        </div>
    </div>

    {% set seo_text = '' %}
    {% if custom_seo and custom_seo.seoText != ''%}
        {% set seo_text = custom_seo.seoText %}
    {% endif %}
    {% if seo_text != '' %}
        <hr>
        <div class="standard_wide">{{ seo_text }}</div>
    {% endif %}



{% endblock %}